.p-mansory {
    color: white;
    padding: 20px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    &_wrapper {
        // width: 300px;
    }

    &_image {
        position: relative;
        padding-bottom: 100%;

        img {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
